.container {
  width: 80%;
  margin: 0 auto;

  .inner {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .join-title {
      font-size: 28px;
      font-weight: 500;
    }

    .btn-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      width: 33%;
      margin: 40px 20px 0 20px;

      &:first-child {
        margin-left: 60px;
      }
      &:last-child {
        margin-right: 60px;
      }
    }
  }

  .btn-container {
    margin-top: 90px;
  }
}