.container {
  min-width: 220px;
  height: 300px;
  background-color: #ccc;
  gap: 20px;
  overflow: hidden;
  transition: all .3s ease;
  border-radius: 8px;
  flex-grow: 1;

  &:hover {
    cursor: pointer;
    transform: translateY(-8px);
  }
}